.restaurant-index-item {
  border-bottom: 1px solid rgba(0,0,0,.08);  
}

.index-item-restaurant {
  display: table;
  padding: 14px 16px;
  height: 80px;
}

.index-item-image {
  float: left;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}

.index-item-info {
  float: right;
  padding-left: 16px;
  min-height: 80px;
  min-width: 136px;
  color: #999;
}

.info-left {
  float: left;
}

.info-right {
  float: right;
}

.index-item-name {
  color: #333;
}

.index-item-category {
  position: absolute;
  right: 36px;
}

.pricing {
  font-size: 14px;
  color: #999;
}

.pricing > i {
  color: #333;
}
