.search-bar {
  display: block;
  position: relative;
  margin: auto;
  background: transparent;
  min-height: 48px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  font-size: 16px;
}

.search-bar-fields, .reservation-fields {
  display: flex;
  color: #333;
  background-color: transparent;
  height: 46px;
}

.search-fields {
  display: flex;
  height: 46px;
}

.search-text {
  background: #fff;
  min-width: 220px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}

.search-text > input {
  min-height: 26px;
}

.search-bar-fields li {
  border-top: 1px solid #999;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.search-bar-fields ul {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}

.search-guests {
  min-width: 107px;
}

.search-time {
  border-radius: 0;
  min-width: 107px;
}

.search-date {
  background-color: #fff;
  min-width: 164px;
}

.search-button {
  background-color: #b8222d;
  color: #fff;
  min-width: 115px;
  border: 1px solid #b8222d;
}

.item-button {
  padding-top: 52px;
}

.Select-control {
  border-radius: 0;
  border: 1px solid #999;
  min-height: 46px;
}

.react-date-field {
  min-height: 46px;
}
