.search-bar {
  display: block;
  position: relative;
  margin: auto;
  background: #fff;
  min-height: 48px;
  width: 100%;
  border: 1px solid #999;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  font-size: 16px;
  height: 46px;
  text-shadow: unset;
}

.search-text {
  background-color: blue;
  opacity: 0.5;
  color: yellow;
}

.search-fields {
  display: block;
}

.search-guests {
  color: #333;
  opacity: 0.5;
  background-color: green;
  text-shadow: unset;
}

.search-time {
  color: #333;
  opacity: 0.5;
  background-color: yellow;
  text-shadow: unset;
}

.search-date {
  color: #333;
  opacity: 0.5;
  background-color: orange;
  display: block;
  text-shadow: unset;
}

.search-button {
  background-color: #b8222d;
  color: #fff;
}
